// granada palette
$lightDark: #333;
$purple : #57385C;
$pink: #A75265;
$orange : #EC7263;
$yellow : #FEBE7E;
$cream : #FFEDBC;
$lightWhite: #EFEFEF;

.home-body {
  background-color: #FFF;

  h1 {
    font-weight: 100;
    margin-top: 0;
    margin-left: -15px;
    padding-left: 15px;
    border-left: 5px solid #f0ad4e;
  }

  #forgot-button {
    width: 100%;
  }

  .jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 65%;
    margin-top: 10%;
  }

  p#instructions {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
  }

  .lead {
    font-size: 18px;
    color: #777;
  }

  button: {
    margin-right: 8px;
  }

  form {
    margin-top: 6%;

      .btn-link {
        color: #f0ad4e !important;
      }

      .btn-link:hover, btn-link:focus {
        color: #eea236 !important;
        text-decoration: none;
      }
  }
}

@media screen and (min-width: 768px) {
  .home-body {
    h1 {
      margin-left: -60px;
      padding-left:60px;
      border-left: 5px solid #f0ad4e;
    }
  }

  .wrapper {
    background-color: $lightWhite;
    width: 45%;
    min-width: 700px;
    border-radius: 5px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  video#bgvid {
    display: none;
   }
}
