extends layout/layout

block content
    .container-fluid.matcha-messages
        .row
            #userlist.col-md-4

            #messages.col-md-8.panel.panel-default

    script(type='text/javascript', src='/js/messages.js')

