extends layout/layout

block content
  .container-fluid.matcha-home
    .matcha-inscription
      .jumbotron.center-block
        h1
          | MAT
          strong CHA
        form#home-forgot
          .row
            .col-md-6.col-xs-12
              label(for='instructions') Set a new password
              p#instructions
                | Hi #{username}, use the field bellow to set a new password for your Matcha account and try to login again on our home page.
            .col-md-6.col-xs-12
              .form-group
                label(for='newPassword') New password
                span.hidden#id #{id}
                input#newPassword.form-control(type='password', placeholder='Password')
              button#reset-button.btn.btn-default(type='button', disabled='')
                span.glyphicon.glyphicon-lock(aria-hidden='true')
                |   Set my new password
  script(type='text/javascript', src='/js/home.js')