doctype html(lang='en')
head
  include ../partials/header

body(class=`body ${bodyPage}`)
  
  if isNotHome
    include ../partials/navbar

  video#vid(autoplay='' loop='')
    source(src='/img/video-fond-site.mp4' type='video/mp4')
  
  block content

  include ../partials/footer
  
